In [1]:
first_tuple = ("Monty Python", 30, "Baker Street", 5.8)
print(first_tuple[0])

Monty Python

In [2]:
city_tuple = ("Mumbai", 18.9949521, 72.8141853) 
print(city_tuple)

('Mumbai', 18.9949521, 72.8141853)

In [3]:
new_tuple = city_tuple
print(new_tuple)

('Mumbai', 18.9949521, 72.8141853)

In [ ]:
new_tuple[1] = 13.8877

In [5]:
b = city_tuple[:-1]
print(b)
print(len(b))

('Mumbai', 18.9949521)
2

In [6]:
c = list(b)
print("c is: {0}".format(c))
c= tuple(c)
print("c is now a tuple: {0}".format(c))

c is: ['Mumbai', 18.9949521]
c is now a tuple: ('Mumbai', 18.9949521)

In [8]:
input_tuple = ('Monty Python', 'British', 1969)
tuple_1 = list(input_tuple)
tuple_1.append('Python')
tuple_2 = tuple(tuple_1)
print(tuple_2)

('Monty Python', 'British', 1969, 'Python')